* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}
.title {
  text-align: center;
  margin: 15px;
}
/* 메인 */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  width: 80%;
  height: 100vh;
}

.card {
  width: 300px;
  height: 400px;
  margin: 15px;
}
/* 하트애니메이션 */
.heart__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.heart__back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: heartback;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart--sub2 {
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  bottom: 0;
  right: 25px;
  left: 0;
  margin: auto;
}
.heart--sub1 {
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 26px;
  margin: auto;
}
@keyframes heartback {
  50% {
    background: #ffe6f2;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}
/* 로딩 점 */
.loadingdot__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, tomato, royalblue);
}
.loadingdot {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: auto;
}
.loadingdot1 {
  background-color: white;
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loadingdot2 {
  background-color: rgb(117, 184, 243);
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loadingdot3 {
  background-color: rgb(225, 228, 42);
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-delay: 0.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 노을진 배경 */

.sunsetback__container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: white;
  z-index: 1;
}
.sunset__text {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  z-index: 5;
  top: 45%;
  left: 35%;
  color: white;
  opacity: 0.7;
}
.sunset {
  position: absolute;
  top: -150px;
  left: 0;
  width: 1000px;
  height: 1000px;
  z-index: 4;

  background-image: radial-gradient(farthest-corner at 0% 60%, red, orange, skyblue);
  animation: sunset 15s linear infinite both;
}

@keyframes sunset {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* hover 텍스트1 */

.hover__text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}
.hover__text1__main {
  transition: all 1s;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 50px;
  color: transparent;
  text-shadow: 10px 10px 0px rgb(141, 245, 131), 15px 15px 0px rgb(241, 29, 195), 20px 20px 0px rgb(240, 15, 191), 30px 30px 10px rgb(141, 245, 131);
  cursor: pointer;
}
.hover__text1__main:hover {
  color: white;
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}
/* 파란점들와르르 */
.bluedot__canvas {
  display: block;
  width: 100%;
  height: 100%;
}
/* 클릭시 배경 랜덤 변경 */
.randombackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.btn__changeback--ico {
  color: #ffe6f2;
  cursor: pointer;
}
.btn__changeback--ico:hover {
  animation: btnrotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes btnrotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
/* 버튼3남매 */
.btn__type__box {
  background-color: #cad9e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.btn__type {
  width: 100px;
  height: 60px;
  border: none;
  margin: 15px 0px;
  cursor: pointer;
  border-radius: 20px;
}

.btn__type--redline {
  background: crimson;
  position: relative;
  z-index: 0;
  color: white;
  font-size: 24px;
}

.btn__type--redline:hover {
  color: crimson;
  background: transparent;
  box-shadow: none;
}
.btn__type--redline::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 90%;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: crimson;
  border-bottom-color: crimson;
  transform: scale(0.1, 1);
  transition: 1s all;
}
.btn__type--redline:hover::before {
  opacity: 1;
  transition: 1s all;
  transform: scale(1, 1);
}
.btn__type--gradient {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  background-size: 200% auto;
  transition: 0.5s;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
.btn__type--gradient:hover {
  background-position: right center;
}
.btn__type--neumorphic {
  color: #9baacf;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem white;
}

.btn__type--neumorphic:hover {
  color: #6d5dfc;
}
.btn__type--neumorphic:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #e4ebf5, inset -0.2rem -0.2rem 0.5rem white;
}

/* 전환이 자연스러운 nav바 */
.navradio__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eef9;
}
.navradio__tabs {
  display: flex;
  z-index: 2;
  position: relative;
  box-shadow: 0 0 1px 0 #185ee0, 0 6px 12px 0 #185ee0;
  padding: 20px;
  border-radius: 10px;
}
.navradio__tabs input {
  display: none;
}
.navradio__option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s ease-in;
}
.navradio__glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 70px;
  background-color: #185ee0;
  z-index: 1;
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.25s ease-in;
}
/* 로딩 중 */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}
.circle-text {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  animation: circle-loading 2.5s linear 0s infinite;
}
.circle-border {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: linear-gradient(0deg, #eee 33%, red 100%);
  border-radius: 50%;
  animation: circle-spin 2.5s linear 0s infinite;
}
.circle-core {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
}
@keyframes circle-loading {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circle-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
