* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}
.title {
  text-align: center;
  margin-bottom: 15px;
}
/* 메인 */
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100vw;
  height: 100vh;
}

.card {
  width: 270px;
  height: 450px;
  margin: auto;
}
/* 하트애니메이션 */
.heart__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.heart__back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: heartback;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart--sub2 {
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  bottom: 0;
  right: 25px;
  left: 0;
  margin: auto;
}
.heart--sub1 {
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 26px;
  margin: auto;
}
@keyframes heartback {
  50% {
    background: #ffe6f2;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}
/* 로딩 점 */
.loadingdot__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, tomato, royalblue);
}
.loadingdot {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: auto;
}
.loadingdot1 {
  background-color: white;
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loadingdot2 {
  background-color: rgb(117, 184, 243);
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loadingdot3 {
  background-color: rgb(225, 228, 42);
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-delay: 0.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 노을진 배경 */

.sunsetback__container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: white;
  z-index: 1;
}
.sunset__text {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  z-index: 5;
  top: 45%;
  left: 35%;
  color: white;
}
.sunset {
  position: absolute;
  top: -150px;
  left: 0;
  width: 1000px;
  height: 1000px;
  z-index: 4;

  background-image: radial-gradient(farthest-corner at 0% 60%, red, orange, skyblue);
  animation: sunset 15s linear infinite both;
}

@keyframes sunset {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
